<a href="https://colab.research.google.com/github/JulioHenri/Case-Thermomatic/blob/main/case_thermomatic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importando bibliotecas

In [116]:
import pandas as pd
import numpy as np

# Lendo os dados

In [117]:
df1 = pd.read_excel('Test_Step.xlsx', sheet_name=0)
df1.head()

,Email,First Name,Last Name,State,Email X,CLICK_x
0,danyal@gy2000.com.mx,Daniel,Guevara,São Paulo,X,X
1,axtyntorasdaldasyarto@gmayl.com,obiel,pYnu,São Paulo,X,X
2,francua55@hotmayl.com,Francisco,Cuellar MYmYla,São Paulo,X,X
3,marcalaalvaraz01@gmayl.com,Marcela,Álvarez,Rio de Janeiro,X,X
4,ruyzaduardogonzalo@gmayl.com,Eduardo,RuYz,Goiás,X,X

In [118]:
#resumo das informações
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 706 entries, 0 to 705
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Email       706 non-null    object
 1   First Name  706 non-null    object
 2   Last Name   706 non-null    object
 3   State       706 non-null    object
 4   Email X     706 non-null    object
 5   CLICK_x     104 non-null    object
dtypes: object(6)
memory usage: 33.2+ KB

In [119]:
df2 = pd.read_excel('Test_Step.xlsx', sheet_name=1)
df3 = pd.read_excel('Test_Step.xlsx', sheet_name=2)
df4 = pd.read_excel('Test_Step.xlsx', sheet_name=3)

# Mesclando dataframes

In [120]:
merge1 = pd.merge(df1,df2, how='outer')
merge2 = pd.merge(merge1,df3, how='outer')
df_mesclado = pd.merge(merge2,df4, how='outer')

In [121]:
df_mesclado.head()

,Email,First Name,Last Name,State,Email X,CLICK_x,Email 2,CLICK_2,Email 3,CLICK_3,Email 4,CLICK_4
0,danyal@gy2000.com.mx,Daniel,Guevara,São Paulo,X,X,X,X,X,X,X,X
1,axtyntorasdaldasyarto@gmayl.com,obiel,pYnu,São Paulo,X,X,X,NaN,X,X,X,NaN
2,francua55@hotmayl.com,Francisco,Cuellar MYmYla,São Paulo,X,X,X,X,X,NaN,X,NaN
3,marcalaalvaraz01@gmayl.com,Marcela,Álvarez,Rio de Janeiro,X,X,X,NaN,X,X,X,NaN
4,ruyzaduardogonzalo@gmayl.com,Eduardo,RuYz,Goiás,X,X,X,X,X,NaN,X,NaN

In [122]:
df_mesclado.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 778 entries, 0 to 777
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Email       778 non-null    object
 1   First Name  778 non-null    object
 2   Last Name   778 non-null    object
 3   State       778 non-null    object
 4   Email X     778 non-null    object
 5   CLICK_x     106 non-null    object
 6   Email 2     476 non-null    object
 7   CLICK_2     35 non-null     object
 8   Email 3     322 non-null    object
 9   CLICK_3     15 non-null     object
 10  Email 4     63 non-null     object
 11  CLICK_4     2 non-null      object
dtypes: object(12)
memory usage: 79.0+ KB

# Feature engineering

In [123]:
df_mesclado['contagem_emails_x'] = df_mesclado['Email X'].str.len()
df_mesclado['contagem_emails_2'] = df_mesclado['Email 2'].str.len()
df_mesclado['contagem_emails_3'] = df_mesclado['Email 3'].str.len()
df_mesclado['contagem_emails_4'] = df_mesclado['Email 4'].str.len()

df_mesclado.tail()

,Email,First Name,Last Name,State,Email X,CLICK_x,Email 2,CLICK_2,Email 3,CLICK_3,Email 4,CLICK_4,contagem_emails_x,contagem_emails_2,contagem_emails_3,contagem_emails_4
773,vyctor@dpcdpepyrogrowp.com,Victor,Rudríguez,Rio de Janeiro,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN
774,vyctor-dyez@Gebyl.com,Victor,DYaz,Ceará,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN
775,vydselyn@gmeyl.com,Erick,DYaz Cruz,Alagoas,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN
776,wycho.newere@gmeyl.com,Óscar,PalacYus,São Paulo,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN
777,zepyen-gro@hotmeyl.com,José,ZapYén Guerreru,Alagoas,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN

In [124]:
df_mesclado['contagem_clicks_x'] = df_mesclado['CLICK_x'].str.len()
df_mesclado['contagem_clicks_2'] = df_mesclado['CLICK_2'].str.len()
df_mesclado['contagem_clicks_3'] = df_mesclado['CLICK_3'].str.len()
df_mesclado['contagem_clicks_4'] = df_mesclado['CLICK_4'].str.len()

df_mesclado.head()

,Email,First Name,Last Name,State,Email X,CLICK_x,Email 2,CLICK_2,Email 3,CLICK_3,Email 4,CLICK_4,contagem_emails_x,contagem_emails_2,contagem_emails_3,contagem_emails_4,contagem_clicks_x,contagem_clicks_2,contagem_clicks_3,contagem_clicks_4
0,danyal@gy2000.com.mx,Daniel,Guevara,São Paulo,X,X,X,X,X,X,X,X,1,1.0,1.0,1.0,1.0,1.0,1.0,1.0
1,axtyntorasdaldasyarto@gmayl.com,obiel,pYnu,São Paulo,X,X,X,NaN,X,X,X,NaN,1,1.0,1.0,1.0,1.0,NaN,1.0,NaN
2,francua55@hotmayl.com,Francisco,Cuellar MYmYla,São Paulo,X,X,X,X,X,NaN,X,NaN,1,1.0,1.0,1.0,1.0,1.0,NaN,NaN
3,marcalaalvaraz01@gmayl.com,Marcela,Álvarez,Rio de Janeiro,X,X,X,NaN,X,X,X,NaN,1,1.0,1.0,1.0,1.0,NaN,1.0,NaN
4,ruyzaduardogonzalo@gmayl.com,Eduardo,RuYz,Goiás,X,X,X,X,X,NaN,X,NaN,1,1.0,1.0,1.0,1.0,1.0,NaN,NaN

In [125]:
#substituindo NaN values por 0 para fazer a contagem geral
df_mesclado = df_mesclado.fillna(0)

In [146]:
#removendo duplicatas
df_mesclado = df_mesclado.drop_duplicates()

## Cálculo do engajamento

In [147]:
#Razão da soma da contagem de cliques pela contagem de emails abertos pelo usuário

df_mesclado['tx_engaja'] = (df_mesclado['contagem_clicks_x'] + df_mesclado['contagem_clicks_2'] + df_mesclado['contagem_clicks_3'] 
+ df_mesclado['contagem_clicks_4']) / (df_mesclado['contagem_emails_x'] + df_mesclado['contagem_emails_2'] + df_mesclado['contagem_emails_3'] + df_mesclado['contagem_emails_4'])

df_mesclado.head()

,Email,First Name,Last Name,State,Email X,CLICK_x,Email 2,CLICK_2,Email 3,CLICK_3,...,CLICK_4,contagem_emails_x,contagem_emails_2,contagem_emails_3,contagem_emails_4,contagem_clicks_x,contagem_clicks_2,contagem_clicks_3,contagem_clicks_4,tx_engaja
0,danyal@gy2000.com.mx,Daniel,Guevara,São Paulo,X,X,X,X,X,X,...,X,1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
1,axtyntorasdaldasyarto@gmayl.com,obiel,pYnu,São Paulo,X,X,X,0,X,X,...,0,1,1.0,1.0,1.0,1.0,0.0,1.0,0.0,0.5
2,francua55@hotmayl.com,Francisco,Cuellar MYmYla,São Paulo,X,X,X,X,X,0,...,0,1,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.5
3,marcalaalvaraz01@gmayl.com,Marcela,Álvarez,Rio de Janeiro,X,X,X,0,X,X,...,0,1,1.0,1.0,1.0,1.0,0.0,1.0,0.0,0.5
4,ruyzaduardogonzalo@gmayl.com,Eduardo,RuYz,Goiás,X,X,X,X,X,0,...,0,1,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.5

# Analysis

OBS: Estou considerando que todos os emais estão escritos corretamente pois acredito que esse foi o intuito do teste, mas em um problema real seria importante impor condições para que os emails sejam aceitos como "corretos", ex: ter "@", ou terminar com ".com" ou ".br" e outros possíveis finais.

## Unique Opens

Refere-se a quantidade de usuários únicos que abriram o email

In [148]:
#Email 1
len(df1.Email.unique())

680

In [149]:
#Email 2
len(df2.Email.unique())

389

In [150]:
#Email 3
len(df3.Email.unique())

250

In [151]:
#Email 4
len(df4.Email.unique())

47

## Open Rate

Open Rate é a porcentagem de usuários que abrem um e-mail específico pelo número total de usuários.

obs: Não tenho informação dos emails que foram enviados e não foram respondidos então tive problemas em obter o Open Rate do primeiro email.

In [152]:
total = len(df_mesclado['Email'].unique())
total

680

In [153]:
or_2 = len(df2['Email'].unique()) / total
round(or_2, 4)

0.5721

In [154]:
or_3 = len(df3['Email'].unique()) / total
round(or_3, 4)

0.3676

In [155]:
or_4 = len(df4['Email'].unique()) / total
round(or_4, 4)

0.0691

Interpretação: Como a taxa de Open Rate para o Email 2 foi de aproximadamente 57%, isso significa que a cada 100 emails entregues, aproximadamente 57 são visualizados.

##Click

Quantidade de clicks dos usuários em cada email

In [156]:
df_mesclado['contagem_clicks_x'].sum()

102.0

In [157]:
df_mesclado['contagem_clicks_2'].sum()

35.0

In [158]:
df_mesclado['contagem_clicks_3'].sum()

15.0

In [159]:
df_mesclado['contagem_clicks_4'].sum()

2.0

## CTR (Click Trought Rate)

Indicador de marketing que mostra a taxa de cliques, ou seja, a relação entre o número de cliques e o número de visualizações de um anúncio, email, etc. e tem o intuito de avaliar a eficiência de estratégias e ações impostas durante o plano de marketing

In [160]:
CTR1 = df_mesclado['contagem_clicks_x'].sum() / df_mesclado['contagem_emails_x'].sum()
CTR1.round(4)

0.1498

In [161]:
CTR2 = df_mesclado['contagem_clicks_2'].sum() / df_mesclado['contagem_emails_2'].sum()
CTR2.round(4)

0.0897

In [162]:
CTR3 = df_mesclado['contagem_clicks_3'].sum() / df_mesclado['contagem_emails_3'].sum()
CTR3.round(4)

0.0598

In [163]:
CTR4 = df_mesclado['contagem_clicks_4'].sum() / df_mesclado['contagem_emails_4'].sum()
CTR4.round(4)

0.0417

Interpretação: Quanto maior o CTR, melhor é a performance das estratégias a ações feitas. Dito isso, nota-se que há um decaimento do CTR do email 1 para o último email de aproximadamente 11%, então devem ser tomadas ações de modo que diminua essa diferença (e continue aumentando a porcentagem de CTR para cada email).

# Exportando base de dados manipulada

Exportando a base de dados para o excel, os próximos passos serão feitos em Power BI, no intuito de usar storytelling para deixar o dashboard o mais útil possível.

In [164]:
df_mesclado.to_excel('test_manipulado.xlsx')